.container{
    border: 12px solid black;
    margin:none;
    padding: none;
    width: 100%;
}

#heading{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    background-color: rgb(255, 141, 42);
    border: none;
    padding: 24px;
}

#nav{
    text-align: center;
    font-size: 20px;
    background-color: rgb(200, 224, 200);
    border: none;
    padding: 24px;
}

#body{
    text-align: justify;
    font-size: 18px;
    border: none;
}


#sidebar{
    text-align: left;
    font-size: 18px;
    background-color: rgb(136, 222, 249);
    border: none;
    text-decoration: none;
}

#footer{
    font-size: 15px;
    background-color: rgb(244, 177, 217);
    padding: 24px;
    display: flex;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    color: black;
}

#col1{
    background-color: lightcoral;
    padding: 50px; 
    display:flex; 
    align-items: center; 
    justify-content: center; 
    font-size: x-large; 
    font-weight: bolder;
}

#col2{
    background-color: lightgreen;
    padding: 50px; 
    display:flex; 
    align-items: center; 
    justify-content: center; 
    font-size: x-large; 
    font-weight: bolder;
}

#col3{
    background-color: lightblue;
    padding: 50px; 
    display:flex; 
    align-items: center; 
    justify-content: center; 
    font-size: x-large; 
    font-weight: bolder;
}

#col4{
    background-color: lightyellow;
    padding: 50px; 
    display:flex; 
    align-items: center; 
    justify-content: center; 
    font-size: x-large; 
    font-weight: bolder;
}

.row{
    border: solid 3px red;
}

.pink{
    background-color: pink ;
}

.orange{
    background-color: orange;
}

.blue{
    background-color: lightblue;
}

.green{
    background-color: greenyellow ;
}

.cyan{
    background-color: aqua;
}