.section{
    padding-bottom: 70px;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.section h2.section-head{
    color: black;
    text-align: center;
    margin-bottom: 40px;
}

.section h2.section-head:after{
    background: #e74c3c;
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 20px auto;
}

.header{
    color: white;
    background-color: #e74c3c;
}

#logo{
    font-size: 2rem;
    margin-top: 5px;
}

#menu{
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li{
    display: inline-block;
}

#menu li a{
    color: white;
    padding: 15px 10px;
    display: block;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #c0392b;
}

#banner{
    background:url("header.jpg") no-repeat 0 0 ;
    background-size: cover;
}

.banner-title{
    margin-top: 5rem;
}

.banner-title h1{
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 10px;
    margin: 0;
}

.banner-title p.lead{
    color: white;
    background:rgba(231, 76, 60, 0.7);
    text-align: justify;
}

.service-box{
    text-align: center;
}

.service-box i.fa{
    color: #e74c3c;
    font-size: 70px;
    margin-bottom: 15px;
}

#testimonials{
    color: white;
    background: url("testimonials.jpg") no-repeat 0 0;
    background-size: cover;
    padding: 50px 0;
    position: relative;
}

#testimnials:before{
    background: rgba(52, 73, 94, 0.7);
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.testimonial img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.news-post img{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.news-post h3{
    font-size: 1.35rem;
}

.news-post h3 a{
    color: #e74c3c;
    text-decoration: none;
}

.post-date{
    font-size: 13px;
    margin-bottom: 2px;
}

.post-date:before{
    content: "\f073";
    font-family: FontAwesome;
    padding-right: 5px;
}

.readmore{
    font-size: 14px;
    color: #e74c3c;
    cursor: pointer;
}

.readmore:after{
    content: "\f101";
    font-family: FontAwesome;
    padding-left: 5px;
    cursor: pointer;
}

#footer-sidebar{
    color: white;
    background: #34495e;
    padding: 20px 0;
}

.footer-widget h4:after{
    content: "";
    background: white;
    display: block;
    width: 50px;
    height: 2px;
    margin: 5px 0;
}

.footer-widget a{
    color: white;
}

.latest-news{
    padding: 0;
    margin: 0;
    list-style: none;
}

.latest-news li{
    margin-bottom: 3px;
}

.latest-news li a{
    text-decoration: none;
}

.latest-news li:before{
    content: "\f101";
    font-family: FontAwesome;
    padding-left: 5px;
}

#footer{
    color: white;
    background-color: #2c3e50;
    padding: 10px 0;
}

#social-icons{
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;
}

#social-icons li{
    display: inline-block;
    padding-left: 5px;
}

#social-icons li a{
    color: white;
    font-size: 23px;
}

@media (max-width: 992px){
    .news-post{
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    #logo{
        text-align: center;
        margin: 10px 0;
    }

    #menu{
        text-align: center;
    }

    .section{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .banner-title{
        padding-top: 0;
    }

    .banner-title h1{
        font-size: 1.7rem;
    }

    .testimonial {
        text-align: center;
        margin-bottom: 30px;
    }

    .service-box{
        margin-bottom: 30px;
    }

    .news-post{
        margin-bottom: 30px;
    }

    .footer-widget {
        margin-bottom: 20px;
    }

    #footer {
        text-align: center;
    }

    #social-icons {
        margin-top: 10px;
    }
}
